body {  
    display: flex;
    justify-content: normal;
    align-items: top;

  }

html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

ul{
	list-style: none;
}

.intro-wrapper{
	background-color:#4d4d4d;
	border:1px solid #F7931A;
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}
.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid #F7931A;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #4d4d4d;
}
.s3{
	background-color: #4d4d4d;
	border-bottom:1px solid #F7931A;	
}

.tro-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
    
}

h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif, 'Playfair Display';
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}



#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}


.left-column{
	grid-area: 2 / 1 / 4 / 4;
	padding-top:50px;
	padding-bottom: 50px;
}
#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}



div {
	will-change: transform;
  }
  
  #ui {
	transform-style: preserve-3d;
  }
  #ui .text {
    position: absolute;
    top: 1.1em;
    left: 10em;
	font-size: 70px;
	color: #fff;
	line-height: 4rem;
	font-family: 'Anton';
	padding: 20px 0;
	mix-blend-mode: screen;
	transform-style: preserve-3d;
  }
  #ui .text:nth-child(1) {
	-webkit-clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
			clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
	-webkit-animation: wave 2000ms -10000ms ease-in-out infinite alternate;
			animation: wave 2000ms -10000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(2) {
	-webkit-clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
			clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
	-webkit-animation: wave 2000ms -9800ms ease-in-out infinite alternate;
			animation: wave 2000ms -9800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(3) {
	-webkit-clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
			clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
	-webkit-animation: wave 2000ms -9600ms ease-in-out infinite alternate;
			animation: wave 2000ms -9600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(4) {
	-webkit-clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
			clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
	-webkit-animation: wave 2000ms -9400ms ease-in-out infinite alternate;
			animation: wave 2000ms -9400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(5) {
	-webkit-clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
			clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
	-webkit-animation: wave 2000ms -9200ms ease-in-out infinite alternate;
			animation: wave 2000ms -9200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(6) {
	-webkit-clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
			clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
	-webkit-animation: wave 2000ms -9000ms ease-in-out infinite alternate;
			animation: wave 2000ms -9000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(7) {
	-webkit-clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
			clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
	-webkit-animation: wave 2000ms -8800ms ease-in-out infinite alternate;
			animation: wave 2000ms -8800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(8) {
	-webkit-clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
			clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
	-webkit-animation: wave 2000ms -8600ms ease-in-out infinite alternate;
			animation: wave 2000ms -8600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(9) {
	-webkit-clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
			clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
	-webkit-animation: wave 2000ms -8400ms ease-in-out infinite alternate;
			animation: wave 2000ms -8400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(10) {
	-webkit-clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
			clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
	-webkit-animation: wave 2000ms -8200ms ease-in-out infinite alternate;
			animation: wave 2000ms -8200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(11) {
	-webkit-clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
			clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
	-webkit-animation: wave 2000ms -8000ms ease-in-out infinite alternate;
			animation: wave 2000ms -8000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(12) {
	-webkit-clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
			clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
	-webkit-animation: wave 2000ms -7800ms ease-in-out infinite alternate;
			animation: wave 2000ms -7800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(13) {
	-webkit-clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
			clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
	-webkit-animation: wave 2000ms -7600ms ease-in-out infinite alternate;
			animation: wave 2000ms -7600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(14) {
	-webkit-clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
			clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
	-webkit-animation: wave 2000ms -7400ms ease-in-out infinite alternate;
			animation: wave 2000ms -7400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(15) {
	-webkit-clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
			clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
	-webkit-animation: wave 2000ms -7200ms ease-in-out infinite alternate;
			animation: wave 2000ms -7200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(16) {
	-webkit-clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
			clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
	-webkit-animation: wave 2000ms -7000ms ease-in-out infinite alternate;
			animation: wave 2000ms -7000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(17) {
	-webkit-clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
			clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
	-webkit-animation: wave 2000ms -6800ms ease-in-out infinite alternate;
			animation: wave 2000ms -6800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(18) {
	-webkit-clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
			clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
	-webkit-animation: wave 2000ms -6600ms ease-in-out infinite alternate;
			animation: wave 2000ms -6600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(19) {
	-webkit-clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
			clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
	-webkit-animation: wave 2000ms -6400ms ease-in-out infinite alternate;
			animation: wave 2000ms -6400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(20) {
	-webkit-clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
			clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
	-webkit-animation: wave 2000ms -6200ms ease-in-out infinite alternate;
			animation: wave 2000ms -6200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(21) {
	-webkit-clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
			clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
	-webkit-animation: wave 2000ms -6000ms ease-in-out infinite alternate;
			animation: wave 2000ms -6000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(22) {
	-webkit-clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
			clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
	-webkit-animation: wave 2000ms -5800ms ease-in-out infinite alternate;
			animation: wave 2000ms -5800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(23) {
	-webkit-clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
			clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
	-webkit-animation: wave 2000ms -5600ms ease-in-out infinite alternate;
			animation: wave 2000ms -5600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(24) {
	-webkit-clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
			clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
	-webkit-animation: wave 2000ms -5400ms ease-in-out infinite alternate;
			animation: wave 2000ms -5400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(25) {
	-webkit-clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
			clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
	-webkit-animation: wave 2000ms -5200ms ease-in-out infinite alternate;
			animation: wave 2000ms -5200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(26) {
	-webkit-clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
			clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
	-webkit-animation: wave 2000ms -5000ms ease-in-out infinite alternate;
			animation: wave 2000ms -5000ms ease-in-out infinite alternate;
  }

.wrap {
    height: 100%;
    position: absolute;
    margin: 0 auto;
    perspective: 360px;
    perspective-origin: 50% 50%;
    width: 1200px;
	margin: 0 auto;
  }
  
.top-plane, .bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image: -webkit-linear-gradient(#f7941ad2 2px, transparent 2px), -webkit-linear-gradient(left, #f7941ad2 2px, transparent 2px);
    background-size: 100px 100px,100px 100px;
    background-position: -1px -1px,-1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop 2s infinite linear;
  }
  
  .right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}

.bottom-plane {
    transform: rotateX(-85deg);
    top: -30%;
    animation: planeMoveBot 2s infinite linear;
  }
  
  
  @-webkit-keyframes wave {
	0% {
	  transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
	  color: #F7931A ;
	}
	100% {
	  transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	  color: #4d4d4d;
	}
  }
    
  @keyframes wave {
	0% {
	  transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
	  color: #F7931A;
	}
	100% {
	  transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	  color: #4d4d4d;
	}
  }

  @keyframes planeMoveTop {
    from {
      background-position: 0px -100px,0px 0px;
    }
    to {
      background-position: 0px 0px, 100px 0px;
    }
  }
  @keyframes planeMoveBot {
    from {
      background-position: 0px 0px,0px 0px;
    }
    to {
      background-position: 0px -100px, 100px 0px;
    }
  }
  @media (max-height: 350px) {
    .wrap {
      perspective: 210px;
    }
  }
 

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;